<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="row" style="margin-left: 0px; margin-right: 0px">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center title1 marg">
            <h1>Company documents</h1>
        </div>
        <div class="col-lg-12 col-md-12 col-lg-offset-1 col-md-offset-1 col-sm-12 title1 marg">
            <h2>Documents in English</h2>
        </div>

        <div class="col-lg-1 col-md-1"></div>
        <% if(data) { data.forEach( dl => { %>
            <div class="col-lg-2 col-md-2 col-sm-12 marg">
            <div class="widget widget-text">
                <a href="/pdf/<%= dl.filename %>" class="download hvr-shutter-out-verticall"  style="<%= dl.title.length > 25 ? "font-size: 14px" : "font-size: 16px"%>" ><%= dl.title %></a>
            </div>
        </div>
        <% })} %>



        <div class="col-lg-12 col-md-12 col-lg-offset-1 col-md-offset-1 col-sm-12 title1 marg" style="border-left:#131d3b solid 1px">
            <h2>Documents in Serbian</h2>
        </div>
        <div class="col-lg-1 col-md-1"></div>

        <% if(data2) { data2.forEach( dl => { %>

            <div class="col-lg-2 col-md-2 col-sm-12 marg">
            <div class="sidebar-wrap sidebar">
                <div class="widget widget-text">
                    <a href="/pdf/<%= dl.filename %>" class="download bg-green hvr-shutter-out-vertical" style="<%= dl.title.length > 25 ? "font-size: 14px" : "font-size: 16px"%>" ><%= dl.title %></a>
                </div>
            </div>
        </div>
        <% })} %>

    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>
<% include partials/footerscripts.ejs %>
</body>
</html>
