<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1 lineheight">
                <h1 style="padding-bottom: 30px">Company Certificates</h1>
                <p>In september 2020 we changed our company name from Todebo to ESM.</p>
                <p>
                    All certificates are valid for ESM, since certifications are tied to our company registration number.
                </p>
                <p>With the next company audit our certifications will be issued under the ESM brand.</p>
            </div>
        </div>
        <div className="row " style="display: flex; justify-content: center" >

        <% if(data) { data.slice(0,4).forEach( dl => { %>

            <div class="col-lg-3 col-md-3 col-sm-12 marg ">
                <div class="sidebar-wrap sidebar">
                    <div class="widget widget-text">
                        <a href="/pdf/<%= dl.filename %>" class="download hvr-shutter-out-verticall"  style="<%= dl.title.length > 25 ? "font-size: 14px" : "font-size: 16px"%>" ><%= dl.title %></a>
                    </div>
                </div>
            </div>
            <% })} %>
        </div>
        <div className="row " style="display: flex; justify-content: center" >
            <% if(data) { data.slice(4,8).forEach( dl => { %>

                <div class="col-lg-3 col-md-3 col-sm-12 marg ">
                    <div class="sidebar-wrap sidebar">
                        <div class="widget widget-text">
                            <a href="/pdf/<%= dl.filename %>" class="download bg-green hvr-shutter-out-vertical" style="<%= dl.title.length > 25 ? "font-size: 14px" : "font-size: 16px"%>" ><%= dl.title %></a>
                        </div>
                    </div>
                </div>
            <% })} %>


        </div>
    </div>
</div>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>
<% include partials/footerscripts.ejs %>
</body>
</html>
