<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs%>
</head>
<body>

<% include partials/header2.ejs %>
<div class="main-blog-single" style="padding-bottom: 15px">
    <section class="flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center title1">
                <h1 style="padding-bottom: 30px"><%= __('contact.title') %></h1>
                <h2><%- __('contact.subtitle') %>
                </h2>
            </div>
            <% if(data){ data.forEach( contact => {%>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="sidebar-info">
                    <div class="content-box" style="padding-top: 50px">
                        <div class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="flat-widget_text">
                                    <ul>
                                        <li>
                                            <div class="info-content darkbluehover" style="height: 160px">
                                                <h2 class="title"><%= contact.title %></h2>
                                                <p><img src="/image/materials/ContactIcon.png" style="max-width: 40px"><%= contact.name %></p>
                                                <% if(contact.phone1) { %>
                                                <p><img src="/image/materials/phoneicon.png" style="max-width: 40px">
                                                    <a href="tel:<%= contact.phone1 %>"><%= contact.phone1 %></a>
                                                </p>
                                                    <%}%>
                                                <% if(contact.phone2) { %>
                                                <p><img src="/image/materials/phoneicon.png" style="max-width: 40px">
                                                    <a href="tel:<%= contact.phone2 %>"><%= contact.phone2 %></a>
                                                </p>
                                                <%}%>
                                                <% if(contact.email1) { %>
                                                <p><img src="/image/materials/emailicon.png" style="max-width: 40px">
                                                    <a href="mailto:<%= contact.email1%>"><%= contact.email1%></a>
                                                </p>
                                                    <% } %>
                                                <% if(contact.email2) { %>
                                                <p><img src="/image/materials/emailicon.png" style="max-width: 40px">
                                                    <a href="mailto:<%= contact.email2%>"><%= contact.email2%></a>
                                                </p>
                                                <%}%>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% })} %>
        </div>
    </div>
    </section>
</div>
<section style="background-color: #00438a">
    <div class="row" style="margin-right: 0px;">
        <div class="col-lg-12">
            <div class="title-section style1">
                <h2 style="color: #fff"><%= __('contact.location') %></h2>
            </div>
        </div>
    </div>
</section>
<section class="flat-map"></section>

<% include partials/footer.ejs %>

<div id="scroll-top">▲</div>

<% include partials/footerscripts.ejs %>
<script src="/javascript/gmap3.min.js"></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?key=AIzaSyB9tCoX5x4SM7amhGHXc-dVtf1DnDR69Bc#038;ver=4.7.18'></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9tCoX5x4SM7amhGHXc-dVtf1DnDR69Bc#038;ver=4.7.18"></script>
</body>
</html>
