<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs%>
  </head>
  <body>
  <% include partials/header2.ejs %>
  <div class="flat-slider style2" >
    <!-- SLIDER -->
    <div class="rev_slider_wrapper fullwidthbanner-container" >
      <div id="rev-slider2" class="rev_slider fullwidthabanner">
        <ul>
          <!-- Slide 2 -->
          <li data-transition="fade">
            <!-- Main Image -->
            <img src="image/materials/sld3.jpg" alt="We cover a range of industries and their strut & support manufacturing needs" data-bgposition="center center" data-no-retina>
            <div class="overlay"></div>
          </li><!-- /End Slide 2 -->

          <!-- Slide 3 -->
          <li data-transition="random">
            <!-- Main Image -->
            <img src="image/materials/sld1.jpg" alt="An example of strut & support systems metal parts we produce" data-bgposition="center center" data-no-retina>
            <div class="overlay"></div>

          </li><!-- /End Slide 3 -->
          <!-- Slide 1 -->
          <li data-transition="random">
            <img src="image/materials/sld4.jpg" alt="We cover a range of industries and their strut & support manufacturing needs ESM works with the Offshore industry, Wind Energy industry, construction industry" data-bgposition="left center" data-no-retina>
            <div class="overlay"></div>

          </li><!-- /End Slide 1 -->
        </ul>
      </div>
    </div>
  </div>
  <div class="main-home2">
    <section style="background-color: #00438a">
      <div class="row" style="margin-right: 0px;">
        <div class="col-lg-12">
          <div class="title-section style1 text-center">
            <h2 style="color: #fff"><%= __('index.esm') %></h2>
          </div>
        </div>
      </div>
    </section>
    <section class="flat-our-services style2">
      <div class="container-fluid">
        <div class="row" style="margin-right: 15px; margin-left: 15px; margin-top: 30px">
          <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <img src="image/materials/HomePageISOIconTransparent.jpg" alt="Showcase of our ISO Certifications">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 lineheight">
              <h2 style="padding-top: 15px"><%= __('index.iso_title') %></h2>
              <p><%= __('index.iso_desc') %></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <img src="image/materials/HomePageEuropeIconTransparent.jpg" alt="European based company and production">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 lineheight">
              <h2 style="padding-top: 15px"><%= __('index.eu_base_title') %></h2>
              <p><%= __('index.eu_base_desc') %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <img src="image/materials/HomePageManufacturingIconTransparent.jpg" alt="Support Systems Manufacturing">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 lineheight">
              <h2 style="padding-top: 15px"><%= __('index.manifacturing_title') %></h2>
              <p><%= __('index.manifacturing_desc') %></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="col-lg-offset-0 col-md-offset-0 col-xs-offset-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <img src="image/materials/HomePageIndustryIconTransparent.jpg" alt="Showcases industries we work with">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 lineheight" >
              <h2 style="padding-top: 15px"><%= __('index.idustries_title') %></h2>
              <p><%= __('index.idustries_desc') %></p>
              </div>
            </div>
          </div>
          <div class="centar1">
            <a href="/contact<%= __('ln') %>" class="download hvr-shutter-out-verticall contactbtn" style="line-height: 45px"><%= __('contact_us') %></a>
          </div>

        </div>

        <div class="row" style="margin-right: 0px;">
            <article class="post post-wrap clearfix">
              <div class="col-lg-12">
                <h2 class="text-center" style="padding-bottom: 30px"><%= __('index.index_title1') %></h2>

                <div class="col-lg-3 text-center">
                  <img src="image/materials/HomePageStrutTransparent.jpg" alt="An example of strut & support systems metal parts we produce" style="max-width: 78%">
                </div>
                <div class="content-post padding dots">
                  <p><%- __('index.content1') %></p>
                  <ul>
                    <li><%= __('index.list1') %></li>
                    <li><%= __('index.list2') %></li>
                    <li><%= __('index.list3') %></li>
                    <li><%= __('index.list4') %></li>
                    <li><%= __('index.list5') %></li>
                  </ul>
                  <p><%- __('index.content2') %></p>
              </div>
              </div>
              <div class="col-lg-12">
              <div class="content-post padding">
                <h2  class="text-center"  style="padding-bottom: 30px"><%= __('index.index_title2') %></h2>
                <p><%- __('index.content3') %> </p>
              </div>
              <div class="content-post padding">
                <h2 class="text-center"  style="padding-bottom: 30px"><%= __('index.index_title3') %></h2>
                <p><%- __('index.content4') %> </p>
              </div>
              </div>
            </article>

        </div>
        <div class="centar1" style="padding-top: 0px">
        <a href="/contact<%= __('ln') %>" class="download hvr-shutter-out-verticall contactbtn" style="line-height: 45px"><%= __('contact_us') %></a>
        </div>



      </div>
    </section>
    <section style="background-color: #494949">
      <div class="row" style="margin-right: 0px; padding-top: 20px; padding-bottom: 20px">
        <div class="col-lg-12">
          <div class="title-section text-center">
            <h1><%= __('index.download_catalog') %> (<%= __('index.classic') %> <a href="/pdf/ESM PRODUCT CATALOG.pdf" style="color: #fff">pdf</a>, <%= __('index.our') %> <a href="https://www.yumpu.com/en/document/read/64681532/esm-product-flip-catalogue">flip book</a> <%= __('index.catalog') %>)</h1>
            <h2 style="color: #fff; font-family: Quicksand"><%- __('index.download_h2') %></h2>
          </div>
        </div>
      </div>
    </section>

  </div>

  <% include partials/footer.ejs %>

  <div id="scroll-top">▲</div>
  <% include partials/footerscripts.ejs %>
  <!-- Slider -->
  <script src="/rev-slider/js/jquery.themepunch.tools.min.js"></script>
  <script src="/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/javascript/rev-slider.js"></script>
  </body>
</html>
