<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs%>
</head>
<body>

<% include ../partials/header2.ejs %>
<div class="main-blog-single" style="padding-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <% include sidebar.ejs %>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <h1>Contact list</h1>
                <a href="/admin/contact/create" class="download hvr-shutter-out-verticall contactbtn" style="line-height: 45px">Create</a>
                <div class="themesflat_sc_vc-table table-responsive tb-text-left">
                    <table class="table table-simple darkbluehover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        <% if(data){ data.forEach( con => { %>
                            <tr>
                                <td><a href="/admin/contact/update/<%= con._id %>"><%= con.title %></a></td>
                                <td><%= con.name  %></td>
                                <td>
                                    <p><%= con.phone1 %></p>
                                    <p><%= con.phone2 %></p>
                                </td>
                                <td>
                                    <p><%= con.email1 %></p>
                                    <p><%= con.email2 %></p>
                                </td>
                                <td>
                                    <form method="post" action="/admin/contact/delete/<%= con._id %>" >
                                        <input type="submit" name="delete" value='Delete' onClick="return confirm('Are you sure you want to delete?')" />
                                        <input type="hidden" name="_method" value="DELETE" />
                                    </form>
                                </td>
                            </tr>
                        <% })} %>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>

<div id="scroll-top"><i class="fa fa-angle-up"></i></div>
<% include ../partials/footerscripts.ejs %>
</body>
</html>
